@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto|Open+Sans:400,700|Material+Icons');

@font-face {
  font-family: 'econosans';
  src: url('./assets/econosans-medium.woff2') format('woff2'),
  url('./assets/econosans-medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'econosans';
  src: url('./assets/econosans-light.woff2') format('woff2'),
  url('./assets/econosans-light.woff') format('woff');
  font-weight: 200;
  font-style: normal;

}

@font-face {
  font-family: 'econosans';
  src: url('./assets/econosans-200-italic.woff2') format('woff2'),
  url('./assets/econosans-200-italic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
}
