@import '../styles/partials/variables';

.microjopi.main-layout {
  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;

    .banner {
      display: flex;
      align-items: center;
      color: #6c6c6c;
      font-family: 'Open sans';
      font-size: 90px;
      font-weight: 700;

      .logo {
        margin-right: 25px;

        .square1 {
          animation: redAnimation 4s linear infinite;
        }
        .square2 {
          animation: greenAnimation 4s linear infinite 1s;
        }
        .square4 {
          animation: yellowAnimation 4s linear infinite 2s;
        }
        .square3 {
          animation: blueAnimation 4s linear infinite 3s;
        }
      }
    }
  }
}

@mixin colorAnimation($name, $color) {
  @keyframes #{$name} {
    25% {background-color: $color}
    75% {background-color: darken($color, 20%)}
    100% {background-color: $color}
  }
}

@include colorAnimation(redAnimation, $microjopi-logo-red)
@include colorAnimation(greenAnimation, $microjopi-logo-green)
@include colorAnimation(blueAnimation, $microjopi-logo-blue)
@include colorAnimation(yellowAnimation, $microjopi-logo-yellow)


