
$skyColor: #88ACDB;
$dawnColor: #FDC790;
$cloudMoveDuration: 20s;

div.sky {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
  background: $skyColor;
  background: linear-gradient(to bottom, $skyColor 40%, $dawnColor 130%);

  .title {
    color: rgba(white, 0.2);
    text-shadow: 2px 2px 2px rgba($skyColor, 0.8);
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'econosans';
    font-size: 70px;
    text-align: center;
  }

  .cloud {
    position: absolute;
    width: 200px; height: 60px;
    background: #fff;
    border-radius: 200px;

    &::before,
    &::after {
      content: '';
      background: #fff;
      width: 100px;
      height: 80px;
      position: absolute; top: -15px; left: 10px;

      border-radius: 100px;
      transform: rotate(30deg);
    }

    &::after {
      width: 120px;
      height: 120px;
      top: -55px;
      left: auto;
      right: 15px;
    }

    &.first {
      top: 20%;
      animation: cloudMove $cloudMoveDuration * 0.5 linear infinite;
    }

    &.second {
      top: 30%;
      animation: cloudMove $cloudMoveDuration linear infinite;

      transform: scale(0.8);
      opacity: 0.8;
    }

    &.third {
      top: 60%;
      animation: cloudMove $cloudMoveDuration * 0.8 linear infinite;

      transform: scale(0.7);
      opacity: 0.7;
    }

    &.fourth {
      top: 75%;
      animation: cloudMove $cloudMoveDuration * 0.5 linear infinite;

      transform: scale(1.1);
    }

    &.fifth {
      top: 40%;
      animation: cloudMove $cloudMoveDuration * 1.2 linear infinite;

      transform: scale(0.5);
      opacity: 0.6;
    }

    @keyframes cloudMove {
      0% {margin-left: 100%;}
      100% {margin-left: -200px;}
    }
  }

}
