@import '../../styles/partials/variables';

.footer {
  padding: $base-spacing;
  background-color: $econo-color;
  color: white;

  .column-container {
    display: flex;

    .column {
      margin-right: $base-spacing;
      width: 480px;

      h3 {
        text-transform: lowercase;
      }

      .address {
        p {
          margin: 0;
          font-size: $font-size-body-2;
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .switch {
    display: block;
    margin: $base-spacing 0;

    label {
      margin-left: $base-spacing;
    }
  }

  .motto {
    margin: 0 $base-spacing;
    text-align: center;
    font-size: $base-font-size * 0.66;
  }
}
