@import '../../../styles/partials/variables';

.logo.squares {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;

  .square {
    position: absolute;
    width: 47%;
    height: 47%;
  }

  .square1 {
    top: 0px;
    left: 0px;
    background-color: $microjopi-logo-red;
  }
  .square2 {
    top: 0px;
    right: 0px;
    background-color: $microjopi-logo-green;
  }
  .square3 {
    bottom: 0px;
    left: 0px;
    background-color: $microjopi-logo-blue;
  }
  .square4 {
    bottom: 0px;
    right: 0px;
    background-color: $microjopi-logo-yellow;
  }
}
