@import '../../styles/partials/variables';

.top-bar {
  .title {
    font-family: 'econosans';
    text-transform: lowercase;
    letter-spacing: 1px;
    font-size: 1.75rem;
    font-weight: 200;
  }
}
