@import '../../styles/partials/variables';

.top-bar {
  .title {
    color: white;
    font-family: 'econosans';
    text-decoration: none;
    text-transform: lowercase;
    letter-spacing: 1px;
    font-size: 1.75rem;
    font-weight: 200;
  }

  button.menu {
    display: none;
  }

  @media screen and (max-width: 480px) {
    button.menu {
      display: initial;
    }
    ul.expanded-menu {
      display: none;
    }
  }


  ul.expanded-menu {
    font-size: $font-size-body-2;
    font-weight: 700;

    li {
      list-style: none;
      display: inline-block;
      padding: 0.5em;
      cursor: pointer;
      opacity: 0.5;

      a {
        color: white;
        text-decoration: none;
      }

      &:hover {
        opacity: 1;
        transition: opacity .3s;
      }
    }
  }
}
